holidayLightsControl.json
[
    {
        "id": "860e9627b1cd04e5",
        "type": "tab",
        "label": "Holiday Lights Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "determineHoliday",
        "type": "function",
        "z": "860e9627b1cd04e5",
        "name": "Determine Holiday",
        "func": "const currentYear = new Date().getFullYear();\nvar currentDate = new Date();\ncurrentDate.setHours(0, 0, 0, 0); // Set time to midnight\n\nvar whichHoliday = getHoliday(currentDate);\n\nmsg.payload = whichHoliday;\nreturn msg;\n\nfunction countDateDiff(checkDate) {\n    const startOfYear = new Date(checkDate.getFullYear(), 0, 1);\n    const differenceInTime = checkDate.getTime() - startOfYear.getTime();\n    const dayCount = Math.floor(differenceInTime / (1000 * 3600 * 24)) + 1;\n    return dayCount;\n}\n\nfunction getEasterDate(year) {\n    const f = Math.floor,\n        G = year % 19,\n        C = f(year / 100),\n        H = (C - f(C / 4) - f((8 * C + 13) / 25) + 19 * G + 15) % 30,\n        I = H - f(H / 28) * (1 - f(29 / (H + 1)) * f((21 - G) / 11)),\n        J = (year + f(year / 4) + I + 2 - C + f(C / 4)) % 7,\n        L = I - J,\n        month = 3 + f((L + 40) / 44),\n        day = L + 28 - 31 * f(month / 4);\n\n    let easter = new Date(year, month - 1, day);\n    easter.setHours(0, 0, 0, 0); // Set time to midnight\n    return easter;\n}\n\nfunction getNthWeekdayOfMonth(year, month, weekday, n) {\n    let date = new Date(year, month - 1, 1);\n    date.setHours(0, 0, 0, 0); // Set time to midnight\n    let count = 0;\n    while (count < n) {\n        if (date.getDay() === weekday) count++;\n        if (count < n) date.setDate(date.getDate() + 1);\n    }\n    return date;\n}\n\nfunction getLastWeekdayOfMonth(year, month, weekday) {\n    let date = new Date(year, month, 0);\n    date.setHours(0, 0, 0, 0); // Set time to midnight\n    while (date.getDay() !== weekday) {\n        date.setDate(date.getDate() - 1);\n    }\n    return date;\n}\n\nfunction createDate(year, month, day) {\n    let date = new Date(year, month - 1, day);\n    date.setHours(0, 0, 0, 0); // Set time to midnight\n    return date;\n}\n\nfunction getHoliday(currentDate) {\n    const easterDate = getEasterDate(currentYear);\n    const twoWeeksBeforeEaster = new Date(easterDate.getTime());\n    twoWeeksBeforeEaster.setDate(easterDate.getDate() - 14);\n    twoWeeksBeforeEaster.setHours(0, 0, 0, 0); // Set time to midnight\n\n    const holidays = [\n        { name: \"New Years\", start: createDate(currentYear, 1, 1), end: createDate(currentYear, 1, 1) },\n        { name: \"New Years Eve\", start: createDate(currentYear, 1, 1), end: createDate(currentYear, 1, 1) },\n        { name: \"MLK Day\", start: getNthWeekdayOfMonth(currentYear, 1, 1, 3), end: getNthWeekdayOfMonth(currentYear, 1, 1, 3) },\n        { name: \"Valentines\", start: createDate(currentYear, 2, 14), end: createDate(currentYear, 2, 14) },\n        { name: \"Presidents Day\", start: getNthWeekdayOfMonth(currentYear, 2, 1, 3), end: getNthWeekdayOfMonth(currentYear, 2, 1, 3) },\n        { name: \"StPat\", start: createDate(currentYear, 3, 17), end: createDate(currentYear, 3, 17) },\n        { name: \"Easter\", start: twoWeeksBeforeEaster, end: easterDate },\n        { name: \"Memorial Day\", start: getLastWeekdayOfMonth(currentYear, 5, 1), end: getLastWeekdayOfMonth(currentYear, 5, 1) },\n        { name: \"July 4th\", start: createDate(currentYear, 7, 4), end: createDate(currentYear, 7, 5) },\n        { name: \"Labor Day\", start: getNthWeekdayOfMonth(currentYear, 9, 1, 1), end: getNthWeekdayOfMonth(currentYear, 9, 1, 1) },\n        { name: \"Halloween\", start: createDate(currentYear, 10, 31), end: createDate(currentYear, 10, 31) },\n        { name: \"Veterans Day\", start: createDate(currentYear, 11, 11), end: createDate(currentYear, 11, 11) },\n        { name: \"Thanksgiving\", start: getNthWeekdayOfMonth(currentYear, 11, 4, 4), end: getNthWeekdayOfMonth(currentYear, 11, 4, 4) },\n        { name: \"Christmas\", start: createDate(currentYear, 12, 25), end: createDate(currentYear, 12, 25) },\n    ];\n\n    for (let holiday of holidays) {\n        if (currentDate >= holiday.start && currentDate <= holiday.end) {\n            return holiday.name;\n        }\n    }\n    return \"Everyday\";\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 340,
        "wires": [
            [
                "switchHoliday"
            ]
        ]
    },
    {
        "id": "switchHoliday",
        "type": "switch",
        "z": "860e9627b1cd04e5",
        "name": "Switch Holiday",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Everyday",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "New Years Eve",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "New Years",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Valentines",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "StPat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Easter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "July 4th",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Thanksgiving",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Christmas",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MLK Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Presidents Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Memorial Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Labor Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Halloween",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Veterans Day",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 15,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "511544cb0ab8645e"
            ],
            [
                "b483b893756178ef"
            ],
            [
                "wledNewYears"
            ],
            [
                "wledValentines"
            ],
            [
                "wledStPat"
            ],
            [
                "wledEaster"
            ],
            [
                "wledJuly4th"
            ],
            [
                "wledThanksgiving"
            ],
            [
                "wledChristmas"
            ],
            [
                "8f1292665036699a"
            ],
            [
                "b1a1af90eb10b46c"
            ],
            [
                "b1a1af90eb10b46c"
            ],
            [
                "b1a1af90eb10b46c"
            ],
            [
                "a24fceda26768d6b"
            ],
            [
                "b1a1af90eb10b46c"
            ]
        ]
    },
    {
        "id": "wledNewYears",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "128",
        "delay": "",
        "color1": "#ffd700",
        "color2": "#c0c0c0",
        "color3": "#ffffff",
        "effect": "54",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED New Years",
        "palette": "0",
        "preset": 0,
        "state": "on",
        "x": 1050,
        "y": 180,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "wledValentines",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "128",
        "delay": "",
        "color1": "#000000",
        "color2": "#000000",
        "color3": "#000000",
        "effect": "100",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED Valentines",
        "palette": "61",
        "preset": 0,
        "state": "on",
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "wledStPat",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "48",
        "delay": "",
        "color1": "#00ff00",
        "color2": "#ffd700",
        "color3": "#ffffff",
        "effect": "2",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED St. Patrick's Day",
        "palette": "0",
        "preset": 0,
        "state": "on",
        "x": 1070,
        "y": 260,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "wledEaster",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "50",
        "delay": "",
        "color1": "#ffcc28",
        "color2": "#99ccff",
        "color3": "#ffff99",
        "effect": "54",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED Easter",
        "palette": "20",
        "preset": 0,
        "state": "on",
        "x": 1040,
        "y": 300,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "wledJuly4th",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "83",
        "delay": "",
        "color1": "#ff0000",
        "color2": "#000000",
        "color3": "#000000",
        "effect": "89",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED July 4th",
        "palette": "1",
        "preset": 0,
        "state": "on",
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "wledThanksgiving",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "128",
        "delay": "",
        "color1": "#000000",
        "color2": "#000000",
        "color3": "#000000",
        "effect": "38",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED Thanksgiving",
        "palette": "39",
        "preset": 0,
        "state": "on",
        "x": 1060,
        "y": 380,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "wledChristmas",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "128",
        "delay": "",
        "color1": "#000000",
        "color2": "#000000",
        "color3": "#000000",
        "effect": "17",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED Christmas",
        "palette": "1",
        "preset": 0,
        "state": "on",
        "x": 1050,
        "y": 420,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "turnOffLight",
        "type": "switch",
        "z": "860e9627b1cd04e5",
        "name": "Turn Off Light",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "New Years",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 780,
        "y": 780,
        "wires": [
            [
                "wledNewYearsEffect"
            ],
            [
                "wledOff"
            ]
        ]
    },
    {
        "id": "wledNewYearsEffect",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "47",
        "delay": "",
        "color1": "#000000",
        "color2": "#000000",
        "color3": "#000000",
        "effect": "90",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED New Years",
        "palette": "1",
        "preset": 0,
        "state": "on",
        "x": 1010,
        "y": 760,
        "wires": [
            [
                "abee0144eb3b136e"
            ]
        ]
    },
    {
        "id": "wledOff",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "128",
        "delay": "",
        "color1": "#000000",
        "color2": "#000000",
        "color3": "#000000",
        "effect": "0",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED Off",
        "palette": "0",
        "preset": 0,
        "state": "off",
        "x": 980,
        "y": 840,
        "wires": [
            [
                "39ad9687a6286d19"
            ]
        ]
    },
    {
        "id": "8f1292665036699a",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "128",
        "delay": "",
        "color1": "#ff0000",
        "color2": "#000000",
        "color3": "#000000",
        "effect": "0",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED MLK Day",
        "palette": "0",
        "preset": 0,
        "state": "on",
        "x": 1040,
        "y": 460,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "b1a1af90eb10b46c",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "128",
        "delay": "",
        "color1": "#ff0000",
        "color2": "#ffffff",
        "color3": "#0000ff",
        "effect": "54",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED US Flag",
        "palette": "0",
        "preset": 0,
        "state": "on",
        "x": 1040,
        "y": 500,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "a24fceda26768d6b",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "48",
        "delay": "",
        "color1": "#9020bd",
        "color2": "#ff6a00",
        "color3": "#000000",
        "effect": "28",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED Halloween",
        "palette": "0",
        "preset": 0,
        "state": "on",
        "x": 1050,
        "y": 540,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "511544cb0ab8645e",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "46",
        "delay": 0,
        "color1": "#ff00ff",
        "color2": "#00ff00",
        "color3": "#ffa000",
        "effect": "54",
        "effectIntensity": "255",
        "effectSpeed": 128,
        "name": "WLED Everyday",
        "palette": "0",
        "preset": 0,
        "state": "on",
        "x": 1040,
        "y": 80,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "77038abb82386b2a",
        "type": "switch",
        "z": "860e9627b1cd04e5",
        "name": "GoldenHour?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "goldenHour",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "determineHoliday"
            ]
        ]
    },
    {
        "id": "2a8e95a25160cc66",
        "type": "inject",
        "z": "860e9627b1cd04e5",
        "name": "Inject goldenHour",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "goldenHour",
        "payloadType": "str",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "77038abb82386b2a"
            ]
        ]
    },
    {
        "id": "6d5bdf529128f617",
        "type": "schedex",
        "z": "860e9627b1cd04e5",
        "name": "Golden Hour",
        "passthroughunhandled": false,
        "suspended": false,
        "lat": "41.4773",
        "lon": "-90.47116",
        "ontime": "goldenHour",
        "ontopic": "",
        "onpayload": "goldenHour",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "23:59",
        "offtopic": "",
        "offpayload": "",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "77038abb82386b2a"
            ]
        ]
    },
    {
        "id": "d7b3fb372c95c635",
        "type": "ha-button",
        "z": "860e9627b1cd04e5",
        "name": "LovelaceButton",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "19b439b4f2d2a1f0",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "goldenHour",
                "valueType": "str"
            }
        ],
        "x": 240,
        "y": 280,
        "wires": [
            [
                "77038abb82386b2a"
            ]
        ]
    },
    {
        "id": "b0653fd380c041b9",
        "type": "api-call-service",
        "z": "860e9627b1cd04e5",
        "name": "Notify Cody",
        "server": "home_assistant_server",
        "version": 7,
        "debugenabled": false,
        "action": "notify.mobile_app_pixel_8_pro",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\": \"The WLED light is set to {{payload}}!\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "notify",
        "service": "mobile_app_pixel_8_pro",
        "output_location": "",
        "output_location_type": "none",
        "x": 1370,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "4fd11ff433da6687",
        "type": "inject",
        "z": "860e9627b1cd04e5",
        "name": "Midnight",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 780,
        "wires": [
            [
                "2e4af7c8739fe030"
            ]
        ]
    },
    {
        "id": "9276cf712781a37d",
        "type": "inject",
        "z": "860e9627b1cd04e5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "New Years",
        "payloadType": "str",
        "x": 600,
        "y": 740,
        "wires": [
            [
                "turnOffLight"
            ]
        ]
    },
    {
        "id": "abee0144eb3b136e",
        "type": "trigger",
        "z": "860e9627b1cd04e5",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1.5",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1290,
        "y": 760,
        "wires": [
            [
                "wledOff"
            ]
        ]
    },
    {
        "id": "39ad9687a6286d19",
        "type": "change",
        "z": "860e9627b1cd04e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "b483b893756178ef",
        "type": "wled2",
        "z": "860e9627b1cd04e5",
        "address": "wled-front.local",
        "brightness": "128",
        "delay": "",
        "color1": "#ffd700",
        "color2": "#c0c0c0",
        "color3": "#ffffff",
        "effect": "54",
        "effectIntensity": "128",
        "effectSpeed": "128",
        "name": "WLED New Years",
        "palette": "0",
        "preset": 0,
        "state": "on",
        "x": 1050,
        "y": 140,
        "wires": [
            [
                "60cfd4d4b35ddab7"
            ]
        ]
    },
    {
        "id": "2e4af7c8739fe030",
        "type": "function",
        "z": "860e9627b1cd04e5",
        "name": "Determine Holiday",
        "func": "const currentYear = new Date().getFullYear();\nvar currentDate = new Date();\ncurrentDate.setHours(0, 0, 0, 0); // Set time to midnight\n\nvar whichHoliday = getHoliday(currentDate);\n\nmsg.payload = whichHoliday;\nreturn msg;\n\nfunction countDateDiff(checkDate) {\n    const startOfYear = new Date(checkDate.getFullYear(), 0, 1);\n    const differenceInTime = checkDate.getTime() - startOfYear.getTime();\n    const dayCount = Math.floor(differenceInTime / (1000 * 3600 * 24)) + 1;\n    return dayCount;\n}\n\nfunction getEasterDate(year) {\n    const f = Math.floor,\n        G = year % 19,\n        C = f(year / 100),\n        H = (C - f(C / 4) - f((8 * C + 13) / 25) + 19 * G + 15) % 30,\n        I = H - f(H / 28) * (1 - f(29 / (H + 1)) * f((21 - G) / 11)),\n        J = (year + f(year / 4) + I + 2 - C + f(C / 4)) % 7,\n        L = I - J,\n        month = 3 + f((L + 40) / 44),\n        day = L + 28 - 31 * f(month / 4);\n\n    let easter = new Date(year, month - 1, day);\n    easter.setHours(0, 0, 0, 0); // Set time to midnight\n    return easter;\n}\n\nfunction getNthWeekdayOfMonth(year, month, weekday, n) {\n    let date = new Date(year, month - 1, 1);\n    date.setHours(0, 0, 0, 0); // Set time to midnight\n    let count = 0;\n    while (count < n) {\n        if (date.getDay() === weekday) count++;\n        if (count < n) date.setDate(date.getDate() + 1);\n    }\n    return date;\n}\n\nfunction getLastWeekdayOfMonth(year, month, weekday) {\n    let date = new Date(year, month, 0);\n    date.setHours(0, 0, 0, 0); // Set time to midnight\n    while (date.getDay() !== weekday) {\n        date.setDate(date.getDate() - 1);\n    }\n    return date;\n}\n\nfunction createDate(year, month, day) {\n    let date = new Date(year, month - 1, day);\n    date.setHours(0, 0, 0, 0); // Set time to midnight\n    return date;\n}\n\nfunction getHoliday(currentDate) {\n    const easterDate = getEasterDate(currentYear);\n    const twoWeeksBeforeEaster = new Date(easterDate.getTime());\n    twoWeeksBeforeEaster.setDate(easterDate.getDate() - 14);\n    twoWeeksBeforeEaster.setHours(0, 0, 0, 0); // Set time to midnight\n\n    const holidays = [\n        { name: \"New Years\", start: createDate(currentYear, 1, 1), end: createDate(currentYear, 1, 1) },\n        { name: \"New Years Eve\", start: createDate(currentYear, 1, 1), end: createDate(currentYear, 1, 1) },\n        { name: \"MLK Day\", start: getNthWeekdayOfMonth(currentYear, 1, 1, 3), end: getNthWeekdayOfMonth(currentYear, 1, 1, 3) },\n        { name: \"Valentines\", start: createDate(currentYear, 2, 14), end: createDate(currentYear, 2, 14) },\n        { name: \"Presidents Day\", start: getNthWeekdayOfMonth(currentYear, 2, 1, 3), end: getNthWeekdayOfMonth(currentYear, 2, 1, 3) },\n        { name: \"StPat\", start: createDate(currentYear, 3, 17), end: createDate(currentYear, 3, 17) },\n        { name: \"Easter\", start: twoWeeksBeforeEaster, end: easterDate },\n        { name: \"Memorial Day\", start: getLastWeekdayOfMonth(currentYear, 5, 1), end: getLastWeekdayOfMonth(currentYear, 5, 1) },\n        { name: \"July 4th\", start: createDate(currentYear, 7, 4), end: createDate(currentYear, 7, 4) },\n        { name: \"Labor Day\", start: getNthWeekdayOfMonth(currentYear, 9, 1, 1), end: getNthWeekdayOfMonth(currentYear, 9, 1, 1) },\n        { name: \"Halloween\", start: createDate(currentYear, 10, 31), end: createDate(currentYear, 10, 31) },\n        { name: \"Veterans Day\", start: createDate(currentYear, 11, 11), end: createDate(currentYear, 11, 11) },\n        { name: \"Thanksgiving\", start: getNthWeekdayOfMonth(currentYear, 11, 4, 4), end: getNthWeekdayOfMonth(currentYear, 11, 4, 4) },\n        { name: \"Christmas\", start: createDate(currentYear, 12, 25), end: createDate(currentYear, 12, 25) },\n    ];\n\n    for (let holiday of holidays) {\n        if (currentDate >= holiday.start && currentDate <= holiday.end) {\n            return holiday.name;\n        }\n    }\n    return \"Everyday\";\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 780,
        "wires": [
            [
                "turnOffLight"
            ]
        ]
    },
    {
        "id": "60cfd4d4b35ddab7",
        "type": "api-call-service",
        "z": "860e9627b1cd04e5",
        "name": "Notify Cody",
        "server": "home_assistant_server",
        "version": 7,
        "debugenabled": false,
        "action": "notify.mobile_app_pixel_8_pro",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\": \"The WLED light is set to {{payload}}!\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "notify",
        "service": "mobile_app_pixel_8_pro",
        "output_location": "",
        "output_location_type": "none",
        "x": 1370,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "19b439b4f2d2a1f0",
        "type": "ha-entity-config",
        "server": "4aa17a56.d0ca74",
        "deviceConfig": "abb8cf9fdc4e2efc",
        "name": "WLED-GoldenHour",
        "version": "6",
        "entityType": "button",
        "haConfig": [
            {
                "property": "name",
                "value": "WLED-GoldenHour"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "home_assistant_server",
        "type": "server",
        "z": "860e9627b1cd04e5",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "4aa17a56.d0ca74",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "abb8cf9fdc4e2efc",
        "type": "ha-device-config",
        "name": "WLED-GoldenHour",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    }
]